config/dtd/mmxf_1_1.dtd

<!ELEMENT mmxf (p | section )* >
<!ATTLIST mmxf 
    version    NMTOKEN  #IMPLIED
>
<!ELEMENT section h ( p | section | ul )* > 
<!ATTLIST section 
    id    NMTOKEN  #IMPLIED
>
<!ELEMENT h ( #PCDATA )* >

<!ELEMENT p  ( #PCDATA | em | ul | a)* >
<!ATTLIST p id  NMTOKEN  #IMPLIED > 

<!ELEMENT ul ( li )+ >
<!ATTLIST ul id  NMTOKEN  #IMPLIED > 
<!ELEMENT li ( #PCDATA | em | a)* >

<!ELEMENT em ( #PCDATA )* >
<!ELEMENT a  ( #PCDATA | em )* >
<!ATTLIST a id  NMTOKEN  #REQUIRED > 

