applications/media/src/org/mmbase/applications/media/filters/resources/mediafilter_1_0.dtd

<!-- Author Rob Vermeulen (VPRO) -->
<!ELEMENT mainFilter (chain, filterConfigs?)>

<!ELEMENT chain (filter+)>
<!ELEMENT filter (#PCDATA)>

<!ENTITY % configSubTags " "><!-- default no configs, add them in the DOCTYPE of mediasourcefilter.xml -->

<!ELEMENT filterConfigs (config*)>

<!ELEMENT config (%configSubTags;)>

