html/dtd/jdbc.dtd

<!--
       jdbc.dtd
         - DTD for MMBase JDBC module definition
-->
<!ELEMENT jdbc (url,driver,database,user,password,host,port,connections,querys,supportclass)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT driver (#PCDATA)>
<!ELEMENT database (#PCDATA)>
<!ELEMENT user (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT host (#PCDATA)>
<!ELEMENT port (#PCDATA)>
<!ELEMENT connections (#PCDATA)>
<!ELEMENT querys (#PCDATA)>
<!ELEMENT supportclass (#PCDATA)>

