src/org/mmbase/security/resources/security_1_0.dtd

<!ATTLIST security active (true|false) #REQUIRED >
<!ELEMENT security ( authentication, authorization, sharedsecret ) >
<!ELEMENT authentication EMPTY >
<!ATTLIST authentication class NMTOKEN #REQUIRED >
<!ATTLIST authentication url CDATA #REQUIRED > 

<!ELEMENT authorization EMPTY >
<!ATTLIST authorization class NMTOKEN #REQUIRED >
<!ATTLIST authorization url CDATA #REQUIRED > 

<!ELEMENT sharedsecret ( #PCDATA ) >
