applications/media/src/main/java/org/mmbase/applications/media/urlcomposers/resources/urlcomposers_1_0.dtd

<!--
   DTD for URLComposerFactory configuration file

-->
<!ELEMENT urlcomposers (default, urlcomposer*)>
<!ELEMENT default (#PCDATA)>
<!ELEMENT urlcomposer (#PCDATA)>
<!ATTLIST urlcomposer format  CDATA #REQUIRED >
<!ATTLIST urlcomposer protocol  NMTOKEN #IMPLIED >
<!ATTLIST urlcomposer mimetype  NMTOKEN #IMPLIED >
