applications/media/config/dtd/mediaproviderfilter_1_0.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!-- Author Rob Vermeulen (VPRO) -->
<!ELEMENT mediaproviderfilter (chain,filterOnHost?,sortProviders?)>

<!ELEMENT chain (filter+)>
<!ELEMENT filter (#PCDATA)>

<!ELEMENT filterOnHost (hostfilter+)>
<!ATTLIST hostfilter
  user           CDATA   #REQUIRED
  provider	 CDATA   #REQUIRED
>

<!ELEMENT sortProviders (provider+)>
<!ATTLIST provider
  host		 CDATA   #REQUIRED
>
