contributions/mmbob/src/org/mmbase/applications/mmbob/resources/mmbobconfig_1_0.dtd

<!--
   mmbobconfig.dtd
-->

<!ELEMENT mmbobconfig (forum*)>

<!ELEMENT forum (generatedata*)>
<!ATTLIST forum id CDATA #IMPLIED>
<!ATTLIST forum account CDATA #IMPLIED>
<!ATTLIST forum password CDATA #IMPLIED>

<!ELEMENT generatedata (#PCDATA)>
<!ATTLIST generatedata role CDATA #IMPLIED>
<!ATTLIST generatedata file CDATA #IMPLIED>
<!ATTLIST generatedata tokenizer CDATA #IMPLIED>

<!ATTLIST quota tokenizer CDATA #IMPLIED>
<!ATTLIST quota max CDATA #IMPLIED>
<!ATTLIST quota softwarning CDATA #IMPLIED>
<!ATTLIST quota warning CDATA #IMPLIED>

<!ELEMENT alias (#PCDATA)>
<!ATTLIST alias object CDATA #IMPLIED>
<!ATTLIST alias extern CDATA #IMPLIED>
<!ATTLIST alias field CDATA #IMPLIED>
<!ATTLIST alias externfield CDATA #IMPLIED>
<!ATTLIST alias key CDATA #IMPLIED>
<!ATTLIST alias externkey CDATA #IMPLIED>
