applications/media/src/org/mmbase/util/media/resources/mediaproviderfilter_1_0.dtd

<!-- Author Rob Vermeulen (VPRO) -->
<!ELEMENT mediaproviderfilter (chain,filterOnHost?,sortProviders?)>

<!ELEMENT chain (filter+)>
<!ELEMENT filter (#PCDATA)>

<!ELEMENT filterOnHost (hostfilter+)>
<!ELEMENT hostfilter (#PCDATA)>
<!ATTLIST hostfilter
  user           CDATA   #REQUIRED
  provider	 CDATA   #REQUIRED
>

<!ELEMENT sortProviders (provider+)>
<!ELEMENT provider (#PCDATA)>
<!ATTLIST provider
  host		 CDATA   #REQUIRED
>
