src/org/mmbase/cache/resources/caches_1_0.dtd

<!-- Author: Michiel Meeuwissen -->
<!-- Author: Ernst Bunders -->

<!ELEMENT caches (releaseStrategies?, cache*) >
<!ELEMENT cache (status?, size?, maxEntrySize?,releaseStrategies? ) >
<!ATTLIST cache  name  CDATA  #REQUIRED >
<!ELEMENT status (#PCDATA) >
<!ELEMENT size (#PCDATA) >
<!ELEMENT maxEntrySize (#PCDATA) >
<!ELEMENT releaseStrategies (strategy+) >
<!ELEMENT strategy (#PCDATA)>
