config/default/dtd/mmbaseroot.dtd

<!--
      mmbaseroot.dtd
        - DTD for MMBase MMBASEROOT module
-->
<!ELEMENT MMBASEROOT (JDBC2NODE,BASENAME,MACHINENAME,HOST,LANGUAGE,MULTICASTHOST,MULTICASTPORT,DTDBASE,AUTHTYPE)>
<!ELEMENT JDBC2NODE (#PCDATA)>
<!ELEMENT BASENAME (#PCDATA)>
<!ELEMENT MACHINENAME (#PCDATA)>
<!ELEMENT HOST (#PCDATA)>
<!ELEMENT LANGUAGE (#PCDATA)>
<!ELEMENT MULTICASTHOST (#PCDATA)>
<!ELEMENT MULTICASTPORT (#PCDATA)>
<!ELEMENT DTDBASE (#PCDATA)>
<!ELEMENT AUTHTYPE (#PCDATA)>
