config/default/dtd/mmxf.dtd

<!ELEMENT mmxf (p | section )* >
<!ATTLIST mmxf 
    version    NMTOKEN  #IMPLIED
>
<!ELEMENT section ( p | section )* > 
<!ATTLIST section 
    title CDATA   #REQUIRED 
    id    NMTOKEN  #IMPLIED
>
<!ELEMENT p  ( #PCDATA | em | ul | a)* >
<!ATTLIST p id  NMTOKEN  #IMPLIED > 
<!ELEMENT em ( #PCDATA )* >
<!ELEMENT ul ( li )+ >
<!ELEMENT li ( #PCDATA | em)* >
<!ELEMENT a  ( #PCDATA | em )* >
<!ATTLIST a id  NMTOKEN  #REQUIRED > 

